<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">
    </head>
    <body> 
        <h1>User Profile</h1>
        <img src="<%= profile_user.avatar %>" alt="<%=user.name%>" width="100">
        <%if(user.id == profile_user.id){%>
            <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="post">
                <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
                <input type="email" name="mail" placeholder="Your Email" value="<%=profile_user.mail%>" required>

                <input type="file" name="avatar" placeholder="Profile Picture">
                <input type="submit" value="update">
            </form>
            
        <%}else{%>
            <p><%= profile_user.name%></p>
            <p><%= profile_user.mail%></p>
            <br>
            <% let a = true %>
            <%for(u of profile_user.friendships){%>
                <%if(u.to_user == locals.user.id){%>
                    <a href="/friends/<%=profile_user._id%>" >Remove Friend</a>
                    <%  a = false %>
                <%}%>                    
            <%}%>  
            <%if(a){%>
                <a href="/friends/<%=profile_user._id%>" >Add Friend</a>       
            <%}%>
        <%}%>
    </body>
</html>